<div class="container">
  <app-cockpit 
    (serverCreated)="onServerAdded($event)"
    (bluePrintCreated)="onBluePrintAdded($event)"   
  >
    </app-cockpit>
  <hr>
  <div class="row">
    <div class="col-lg-12" >
      <button class="btn btn-danger" (click)="setName()">changeButton</button>
      <button class="btn btn-danger" (click)="setSplice()">destroy</button>
      <app-server-element   
      *ngFor="let serverElement of serverElements" [elementX]="serverElement" [name]="serverElement.name">
      <p #contentParagraph>
        <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
        <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
      </p>
    </app-server-element>
    </div>
  </div>
</div>
